<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="DBStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="3.5.0.0" newVersion="3.5.1.0"/>
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
   <DBStudio.Properties.Settings>
     <setting name="LastestOpenedDb" serializeAs="String">
       <value/>
     </setting>
     <setting name="LastestOpenedDbPwd" serializeAs="String">
       <value/>
     </setting>
     <setting name="DbHistoryFileName" serializeAs="String">
       <value>History.xml</value>
     </setting>
     <setting name="StartMainIDEStep" serializeAs="String">
       <value>1</value>
     </setting>
     <setting name="MyXceedGridLisencer" serializeAs="String">
       <value>DGF12-N1BDU-37875-DN2A</value>
     </setting>
     <setting name="HelpFile" serializeAs="String">
       <value>Help.xml</value>
     </setting>
     <setting name="IsUseOldStyleProcessBar" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="SQLCELicense" serializeAs="String">
       <value>11e114111121111111</value>
     </setting>
     <setting name="MM_NamespaceName" serializeAs="String">
       <value>BusinessEntity</value>
     </setting>
     <setting name="FixBugMode" serializeAs="String">
       <value>False</value>
     </setting>
     <setting name="AutoBackupOldVersionFileBeforeUpgrade" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="WPFControlThemeName" serializeAs="String">
       <value>ExpressionDark</value>
     </setting>
     <setting name="CmdTextFontSize" serializeAs="String">
       <value>12</value>
     </setting>
     <setting name="StartUrl" serializeAs="String">
       <value>NewMain</value>
     </setting>
     <setting name="UseSpeakInsteadOfMsgBox" serializeAs="String">
       <value>False</value>
     </setting>
     <setting name="ConnectionStringHelpFile" serializeAs="String">
       <value>Help\DBConnectionString.xps</value>
     </setting>
     <setting name="DialogAnimationName" serializeAs="String">
       <value>CurtainAnimation</value>
     </setting>
     <setting name="ReplaceTraditional2DTo3D" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="UseRTFQueryTextor" serializeAs="String">
       <value>False</value>
     </setting>
     <setting name="SqlEditorFontName" serializeAs="String">
       <value>Arial</value>
     </setting>
     <setting name="SqlEditorFontSize" serializeAs="String">
       <value>12</value>
     </setting>
     <setting name="IsUseAdvTextEditor" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="SourceForgeHomePgae" serializeAs="String">
       <value>http://sourceforge.net/projects/sqlceviewer/</value>
     </setting>
     <setting name="LiveUpdateAddress" serializeAs="String">
       <value>http://www.seasonstar.net/misc/sqlceviewer/liveupdate.xml</value>
     </setting>
     <setting name="MaxSqlScriptContextLengthForSwitchTextEditor" serializeAs="String">
       <value>200</value>
     </setting>
   </DBStudio.Properties.Settings>
</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
